<!doctype>
<html>
<head>
	<style type="text/css">
		td {
			background-color:#f1f1f1;
			color:#170;
			border: 10px solid black;
			padding: 20px;
		}
		h3{
			color:red;
		}
	</style>
</head>
<body>
<p><a href="/">Main Page </a><br><Br></p>
<div>
<p> Username - {{ @username }}</p>
<p> <a href="/user/{{ @id }}/profile">Profile of user</a> </p>
{~ if(@ownerMessageButton !== ''): ~} <p><i>{{ @ownerMessageButton }}</i></p>{~ endif ~}
</div>
<table>
<repeat group="{{ @blogs }}" value="{{ @blogs }}">
	<tr>
		<td>
			<p>
				<b>{{ @username }}</b> - {{ @blogs.time}} {~ if(@ownerBlogButton !== ''): ~}- <i>{{ @ownerBlogButton }}</i>{~ endif ~}
				<h3><b>{{ @blogs.name}}</b></h3>
			</p>
			<p>{{ @blogs.body}}</p>
		</td>
	</tr>
</repeat>
</table>
</body>
</html>
